/* Resume.css */
.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #272525;
    color: white;
    border-radius: 10px;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.name-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.resume-button {
    padding: 10px 20px;
    background-color: #1b1818c0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color:  #1b1818c0;
}

.section-title {
    text-align: center;
}

.contact-section {
    margin-top: 30px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #212529;
    color: white;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    background-color: #272525;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:  #272525;
}

.error {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 5px;
}
